.item{
    
    width: 363px;
     margin:50px 13px;
     padding: 12px;
      box-shadow: 0px 1px 3px 1px black;
     
    p{
        margin: 6px 0px;
    }
    img{
        width: 200px;
        height: 300px;
    }
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: rgb(77, 75, 75);
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: rgb(77, 75, 75);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.item-container{
        display: flex;
      flex-direction: row;
      margin: 10px 0px;
      gap: 30px;
}