.hero{
    height: 100vh;
    /* background: linear-gradient(180deg, grey ,black ,60%); */
    /* background-color: rgb(179, 175, 175); */
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
   
    h2{
        color: black;
        font-size: 26px;
        font-weight: 600;
    }

    p{
        color: black;
        font-size: 100px;
        font-weight: 700;
    }
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    img{
        width: 105px;
    }
}

.hero-lastest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background-color: red;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 391px;
        height: 540px;
        margin: 3px;
    }
}
@media(max-width:830px){
    .hero-left{
       p{ font-size: 26px;
        font-weight: 700;
       }
    }
    .hero{
       display: flex;
       margin: 6px;
       flex-direction: column;
    }   
    .hero-right{
        img{
            width: 391px;
            height: 540px;
            margin: 34px;
        }
    }
}