.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

    h1{
      color: rgb(43, 40, 40);
      font-size: 50px;
      font-weight: 600;
    }

    hr{
        width:200px;
        height: 6px;
        border-radius: 10px;
        background:rgb(43, 40, 40); 
    }
}

.popular-item{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* box-shadow: 0px 1px 3px -2px black;
    height: 400px; */
}
@media (max-width:1310px) {
    .popular-item{
       
        margin-left: 195px;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
       
    }
}
@media (max-width:1091px) {
    .popular-item{
       
        margin-left: 105px;
        display: grid;
        justify-items: center; 
       grid-template-columns: 1fr 1fr;
        gap: 30px;
       
    }
    .popular{
        justify-items: center;
    }
}
@media (max-width:1067px) {
    .popular-item{
       
        margin-left: 375px;
        display: grid;
        justify-items: center; 
       grid-template-columns: 1fr 1fr;
        gap: 30px;
       
    }
    
}
@media (max-width:830px) {
    .popular-item{
       
        margin-left: 55px;
        display: grid;
        justify-items: center; 
       grid-template-columns: 1fr 1fr;
        gap: 30px;
       
    }
    
}

